<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragment/custom_header}">
</head>
<body>
<div th:insert="~{/fragment/header :: top-menu}"></div>

<div class="container mt-5">
    <form action="#" method="post">
        <div class="mb-3">
            <label for="orgName" class="form-label">ORGANIZATION NAME</label>
            <input type="text" class="form-control" id="orgName">
        </div>
        <div class="mb-3">
            <label for="orgAddress" class="form-label">ORGANIZATION ADDRESS</label>
            <input type="text" class="form-control" id="orgAddress">
        </div>
        <button type="submit" class="btn btn-primary">SAVE</button>
    </form>
</div>


</body>
</html>